<div class="panel panel-default">
  <ul class="list-group">
    <!-- 报错信息：each doesn't match end - 3:7 -->
    <!-- 未解决，先注释掉 -->
    {{!-- {{#each model as |sighting|}}
      <li class="list-group-item">
        {{sighting.location}} - {{sighting.sightedAt}}
      </li>
    {{/end}} --}}
  </ul>
</div>
